@font-face {
    font-family: 'Norse Bold';
    src: url(font/Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
}

aside{
    font-family: 'Norse Bold';
    width: 30%;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color: white;
}

a {
    color: white;
}