@font-face {
    font-family: 'Norse Bold';
    src: url(font/Norse-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    width: 100%;
    height: 100vh;
}

aside{
    font-family: 'Norse Bold';
    width: 30%;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside h6{
    text-align: center;
    margin-top: auto;
}

.banner-logo{
    position: absolute;
    height: 150px;
    margin-top: 150px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Norse Bold';
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 7rem;
}

.banner-logo img {
    height: 70%;
}

a {
    color: white;
}